img{
	width:90px;
	height: 70px;
}
.train{
	display:flex;
	background-color: rgb(226, 66, 66);
	gap: 20px;
	place-items: center;
	justify-content: center;
	padding: 1px 2px;
	background-image: url("https://i.postimg.cc/GttyvL85/train.jpg");
    opacity: 1;
	padding-block-end: 1%;
	position: relative;
}
h1{
	color: rgb(248, 247, 244);
	font-size: 30px;

}
.ticket{

	display:flex;
	gap: 20px;
	color: rgb(214, 95, 121);
	justify-content: space-around;
	font-size:30px;
}
marquee{
	display: flex;
	background-color: white;
	padding: 20px;
	text-shadow:7px 5px 8px rgb(228, 89, 89);


}
.menu{
	padding: 4px 6px;
	background-color: rgb(69, 51, 168);
	font-size: 8%;

}
.menu ul{
	background-color: rgb(145, 197, 240);
	list-style-type: none;
	gap: 3px;
	display: flex;
    font-size: 13px;
	
	
}
.menu li{
	float:right ;
	border-right: 1px solid red;
	padding: 30px 20px;
	color: red;


	 
	
	
}

.menu li a{
	padding: 14px 17px;
	text-decoration: none;
}
.search-container{
	float: right;
	padding: 3px;
	border: none;
	margin-top: 20px;
	margin-right: 1px;
	font-size: 8px;
}
.booking{
	place-items: center;
	background-color: rgb(252, 255, 254);
	border: 8px solid rgb(184, 124, 100);
	

}
h2{
    text-shadow:7px 3px 6px rgb(248, 108, 218);
	text-align: center;
}

.booking ul{
background-color: rgb(152, 226, 186);

display: flex;
width: 97%;


}
.booking li{
	padding: 20px 30px;
	gap: 20px;}

label{
font: size 30px;
}

  
.imagecontainer{
	width: 100%;
}


.swiper{
	width: 1000px;
	height: 400px;
	
}
.swiper img{
	width: 100%;
	height: 400px;
}


.swiper .swiper-button-prev, .swiper .swiper-button-next{
	color: rgb(233, 151, 44);
	
}

.swiper-pagination-bullet-active{
	color: rgb(14, 44, 44);
	background-color: brown;
	opacity: 1;
	width: 3rem;
	height: 1%;
	border-radius: 0.8rem;
}
.contact{
	place-items: center;
	background-color: rgb(191, 221, 144);
	display: flex;
	justify-content: center;
	border: 2px dotted rgb(243, 205, 144)  ;
}
.inform{
background-color: rgb(240, 184, 152) ;	
width:100%;
height: 100px;
padding: 3px 7px;



}


.splite{
background-image: url(../images/background3.jpg);
background-repeat: no-repeat;
background-size: 100%;
height: 750px;
color: rgb(255, 89, 47);

}
li a{
	display: letf;
}
.login li a{
	position: relative;
	left: 300px;
	border-left: 1px solid red;
	padding: 30px 20px;
	color: rgb(39, 14, 14);

}
.contacts{
	
	justify-content: center;
	place-items: center;
	;

}

.contacts img{
	position: relative ;
	padding: 1px 2px;
width: 30px;
height: 20px;
}
 p1{
	font-size: 24px;
}
p3{
	flex-direction: row;
}






